li {
    background: lightcoral;
    width: fit-content;
    padding: 2px;
    margin: 5px;
    list-style: none;
    border-radius: 5%;
    box-shadow: 2px 2px 10px 2px;
}

li:hover {
    background: lightpink;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}